* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background-color: #a9907e;
  margin: 10px;
  color: #675d50;
  font-family: 'Space Grotesk', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #abc4aa;
  padding: 20px;
}

.logo img {
  padding: 0;
  width: 40%;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav__link {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav__link:hover {
  color: black;
}

.card--container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #f3deba;
  border: 1px solid black;
  box-shadow: 4px 7px 7px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 20px;
  border-radius: 7px;
}

.card:hover {
  color: black;
  background-color: #f3deba;
  border: 1px solid black;
  box-shadow: none;
  width: 300px;
  margin: 20px;
  border-radius: 7px;
}

.card__img {
  border-radius: 7px 7px 0 0;
  width: 100%;
  height: 200px;
}

.card__details {
  padding: 8px;
}

.footer {
  background-color: #abc4aa;
  padding: 20px;
}

.search {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.search__input {
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  border: 0 1px solid black;
}

.search__input:focus {
  outline: none;
  border: none;
  color: #675d50;
}

.search__button {
  padding: 10px;
  background-color: #675d50;
  color: aliceblue;
}

/*  Shimmer UI css */
.card {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.card__img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.card__details {
  padding: 20px;
}

.card__details h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.card__details h3 {
  margin: 10px 0 0;
  font-size: 16px;
  color: #999;
}

/* Shimmer animation */
.shimmer__card {
  width: 250px;
  height: 300px;
  background-color: #999;
}

.shimmer-wrapper {
  width: 100%;
  height: 70%;
  position: relative;
}

.shimmer {
  width: 250px;
  height: 300px;
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #e9ebee 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  position: absolute;
  top: 0;
  left: -100px;
  transform: rotate(0deg);
  animation: shimmer 3s infinite;
}

@keyframes shimmer {
  0% {
    left: -3px;
  }
  100% {
    left: 3%;
  }
}

/* Menu */
.menu {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.menu img {
  width: 250px;
  height: 200px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}
.menu__details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
